In [ ]:
import pandas as pd
import seaborn as sns

# Cargar los datos desde el almacenamiento
df_medallion = pd.read_csv('/content/drive/Othercomputers/My Laptop/Google Drive/Medallion__Vehicles_-_Authorized_20241107_cleaned.csv')

# Mostrar las primeras filas de cada DataFrame
print(df_medallion.head())

In [ ]:
# Columnas a eliminar
columnas_a_eliminar_medallion =  [
    'Name', 'Expiration Date', 'Current Status', 'DMV License Plate Number',
    'Medallion Type', 'Agent Number', 'Agent Telephone Number', 'Agent Name',
    'Agent Website Address','Agent Address', 'Last Time Updated'
]


# Eliminar columnas
df_medallion = df_medallion.drop(columns=columnas_a_eliminar_medallion, errors='ignore')

In [ ]:
# Valores nulos en Medallion
print("Valores nulos en Medallion:")
display(df_medallion.isnull().sum())

In [ ]:
# Contar la cantidad de cada tipo de veh√≠culo
vehicle_type_counts = df_medallion['Vehicle Type'].value_counts()

# Mostrar los resultados
print(vehicle_type_counts)

In [ ]:
# Contar la cantidad de cada 'Model Year'
model_year_counts = df_medallion['Model Year'].value_counts()

# Mostrar los resultados
print(model_year_counts)

In [ ]:
# Contar valores duplicados de 'License Number'
duplicate_license_count = df_medallion['License Number'].duplicated().sum()

# Mostrar el conteo
print(f"Cantidad de valores duplicados de 'License Number': {duplicate_license_count}")

In [ ]:
# Obtener la cantidad total de registros
total_records = len(df_medallion)

# Mostrar la cantidad total
print(f"Cantidad total de registros en df_medallion: {total_records}")

In [ ]:
# Contar valores duplicados de 'Vehicle VIN Number'
duplicate_vin_count = df_medallion['Vehicle VIN Number'].duplicated().sum()

# Mostrar el conteo
print(f"Cantidad de valores duplicados de 'Vehicle VIN Number': {duplicate_vin_count}")

In [ ]:

df_medallion['Last Date Updated'] = pd.to_datetime(df_medallion['Last Date Updated'], errors='coerce')

In [ ]:
# Sort by 'Vehicle VIN Number' and 'Last Date Updated'
df_medallion_sorted = df_medallion.sort_values(by=['Vehicle VIN Number', 'Last Date Updated'], ascending=[True, False])

# Drop duplicates of 'Vehicle VIN Number', keeping the most recent
df_medallion_clean = df_medallion_sorted.drop_duplicates(subset='Vehicle VIN Number', keep='first')

# Sort the cleaned DataFrame by 'License Number' and 'Last Date Updated'
df_medallion_clean = df_medallion_clean.sort_values(by=['License Number', 'Last Date Updated'], ascending=[True, False])

# Drop duplicates of 'License Number' in the cleaned DataFrame, keeping the most recent
df_medallion_clean = df_medallion_clean.drop_duplicates(subset='License Number', keep='first')

In [ ]:
print(df_medallion_clean.head())

In [ ]:
# Assuming you have already executed the code to create df_medallion_clean

# Get the number of rows
row_count = len(df_medallion_clean)

# Print the row count
print(f"Number of rows in df_medallion_clean: {row_count}")

In [ ]:
# Assuming you have df_medallion_clean DataFrame

df_medallion_clean.to_csv('medallion_clean.csv', index=False)