## Importar librerias y archivo de Calidad de Aire

In [ ]:
import pandas as pd

# Ruta al archivo CSV
file_path = 'Air_Quality_20241108.csv'

# Leer el archivo CSV
df = pd.read_csv(file_path)

# Mostrar las columnas del dataset
print("Columnas del dataset:")
print(df.columns)

# Mostrar las primeras filas del dataset para tener una idea de los datos
print("\nPrimeras filas del dataset:")
print(df.head())

# Eliminar columnas que no se utilizaran

### Motivo de Eliminación

**Unique ID:**
*Motivo:* Identificación única del registro que no es necesaria para el análisis.

**Indicator ID:**
*Motivo:* ID del indicador que no aporta información adicional relevante para el análisis principal.

**Name:**
*Motivo:* Descripción detallada del indicador que puede ser redundante con otras columnas.

**Measure Info:**
*Motivo:* Información adicional sobre la medida que no es crítica para el análisis.

**Geo Join ID:**
*Motivo:* ID para unir datos geográficos que no es necesario para el análisis actual.

**Message:**
*Motivo:* Mensajes o anotaciones que pueden no aportar valor directo al análisis de emisiones.

In [ ]:
# Columnas a eliminar
columnas_a_eliminar = [
    'Unique ID',
    'Indicator ID',
    'Name',
    'Measure Info',
    'Geo Join ID',
    'Message'
]

# Eliminar las columnas
df = df.drop(columns=columnas_a_eliminar, errors='ignore')

In [ ]:
# Mostrar las primeras filas del DataFrame limpio
print(df.head())

# Valores nulos del dataframe

In [ ]:

# Obtener los valores nulos del DataFrame
valores_nulos = df.isnull().sum()

# Mostrar los valores nulos
print("\nValores nulos por columna:")
print(valores_nulos)

# Eliminar las filas donde 'Geo Place Name' tenga valores nulos

In [ ]:

# Eliminar las filas donde 'Geo Place Name' tenga valores nulos
df = df.dropna(subset=['Geo Place Name'])

# Mostrar la cantidad de filas en el DataFrame

In [13]:
# Mostrar la cantidad de filas en el DataFrame
print("Cantidad de filas en el DataFrame:")
print(df.shape[0])

Cantidad de filas en el DataFrame:
18016

# Mostrar la cantidad de valores nulos en cada columna del DataFrame

In [14]:
# Mostrar la cantidad de valores nulos en cada columna del DataFrame
print("Cantidad de valores nulos en cada columna:")
print(df.isnull().sum())

Cantidad de valores nulos en cada columna:
Measure           0
Geo Type Name     0
Geo Place Name    0
Time Period       0
Start_Date        0
Data Value        0
dtype: int64

# Buscar duplicados en el DataFrame

In [16]:
# Buscar filas duplicadas donde todos los datos sean iguales
duplicados_completos = df[df.duplicated()]

# Mostrar las filas duplicadas
print("Filas duplicadas donde todos los datos son iguales:")
print(duplicados_completos)

Filas duplicadas donde todos los datos son iguales:
                               Measure Geo Type Name  \
1708                              Mean         UHF42
3972                              Mean         UHF34
4035                              Mean            CD
7315                    Number per km2         UHF42
8836                              Mean            CD
9909             Estimated annual rate         UHF42
10128            Estimated annual rate         UHF42
10242            Estimated annual rate         UHF42
10247            Estimated annual rate         UHF42
10340            Estimated annual rate         UHF42
10422            Estimated annual rate         UHF42
10545  Estimated annual rate (age 18+)         UHF42
10683            Estimated annual rate         UHF42
10866            Estimated annual rate         UHF42
11037     Annual average concentration         UHF42
11116                             Mean            CD
11314            Estimated annual rate         UHF42
11470            Estimated annual rate         UHF42
11750            Estimated annual rate       Borough
12055            Estimated annual rate         UHF42
12319     Annual average concentration         UHF42
12477                   Number per km2         UHF42
12496     Annual average concentration         UHF42
12634            Estimated annual rate       Borough
13524                   Number per km2         UHF42
14371                   Number per km2         UHF42
14467                   Number per km2         UHF42
14529                   Number per km2         UHF42
14722     Annual average concentration         UHF42
15072     Annual average concentration         UHF42
15162     Annual average concentration            CD
15722                   Number per km2         UHF42
15730     Annual average concentration            CD
15810                   Number per km2         UHF42
15916                   Number per km2         UHF42
15951                   Number per km2         UHF42
16943            Estimated annual rate         UHF42
17022                             Mean         UHF34
17684     Annual average concentration         UHF42

                          Geo Place Name  Time Period  Start_Date  Data Value
1708                           Rockaways  Summer 2014  06/01/2014         7.4
3972                           Rockaways  Summer 2014  06/01/2014         7.4
4035   Rockaway and Broad Channel (CD14)  Summer 2017  06/01/2017         7.7
7315                Canarsie - Flatlands         2015  01/01/2015         0.0
8836                 Coney Island (CD13)  Summer 2021  06/01/2021         8.0
9909                Pelham - Throgs Neck    2012-2014  01/02/2012        13.9
10128                   Crotona -Tremont    2017-2019  01/01/2017        13.0
10242                         Greenpoint    2017-2019  01/01/2017         4.0
10247           Ridgewood - Forest Hills    2017-2019  01/01/2017         5.0
10340                    Upper West Side    2017-2019  01/01/2017         5.0
10422                      Fresh Meadows    2017-2019  01/01/2017         5.0
10545                        Willowbrook    2005-2007  01/01/2005        16.2
10683               Flushing - Clearview    2017-2019  01/01/2017         6.0
10866                    Northeast Bronx    2017-2019  01/01/2017        10.0
11037                        East Harlem         2005  01/01/2005         4.2
11116  South Beach and Willowbrook (CD2)  Summer 2015  06/01/2015         8.8
11314                    Northeast Bronx    2005-2007  01/01/2005        25.9
11470          South Beach - Tottenville    2017-2019  01/01/2017        10.0
11750                             Queens    2017-2019  01/01/2017         5.0
12055           Greenwich Village - SoHo    2017-2019  01/01/2017         3.0
12319                    Upper East Side         2005  01/01/2005         4.5
12477                      Port Richmond         2015  01/01/2015         0.0
12496                        Sunset Park         2005  01/01/2005         3.2
12634                              Bronx    2017-2019  01/01/2017        12.0
13524                          Rockaways         2013  01/01/2013         0.0
14371                        Willowbrook         2013  01/01/2013         0.0
14467          South Beach - Tottenville         2013  01/01/2013         0.0
14529                      Port Richmond         2013  01/01/2013         0.0
14722        Gramercy Park - Murray Hill         2005  01/01/2005         5.3
15072        Gramercy Park - Murray Hill         2011  01/01/2011         2.8
15162   Greenwich Village and Soho (CD2)         2011  01/01/2011         2.6
15722               Canarsie - Flatlands         2013  01/01/2013         0.0
15730          Clinton and Chelsea (CD4)         2011  01/01/2011         2.9
15810                          Rockaways         2015  01/01/2015         0.0
15916                        Willowbrook         2015  01/01/2015         0.0
15951          South Beach - Tottenville         2015  01/01/2015         0.0
16943             Stapleton - St. George    2017-2019  01/01/2017        12.0
17022       Union Square-Lower Manhattan  Summer 2013  06/01/2013        25.3
17684           Greenwich Village - SoHo         2011  01/01/2011         2.6